/target/
**/target/

/build/
**/build/

**/*.lock

**/notes/

**/*.rs.bk

*.pdb

.idea/
.vscode/
*.swp
*.swo
.DS_Store

/dist/
/out/


*.png

**/*.md
!/*.md
*.bin
*.img
*.txt


# Added by cargo

/target
/tests/
